@media (max-width: 1440px) {
    .first__heading {
        font-size: 2rem;
    }

    .first__subheadings h3 {
        font-size: 1.5rem;
    }

    .name-of-service a {
        font-size: 0.75rem;
    }

    .first__arrow-down {
        font-size: 3rem;
    }
}

@media (max-width: 1200px) {
    section#second {
        height: 100%;
    }
}

@media (max-width: 991px) {
    .info__boxes {
        padding-top: 1.5rem !important;
    }

    .info-box {
        padding: 1rem 0;
    }

    .info-box__heading p {
        margin-bottom: 0.5rem;
    }

    section#second h3 {
        padding-top: 1rem;
    }
}

@media (max-width: 768px) {
    .first__name-of-services {
        display: none;
    }

    .info__boxes {
        padding: 1rem 0 !important;
    }

    .info-box.one {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-height: 720px) {
    .first__name-of-services {
        display: none;
    }
}

@media (max-width: 575px) {

    section#first,
    section#second,
    section#third {
        padding: 0.5rem;
    }

    .info-box__heading p {
        font-size: 1.25rem;
    }

    .info-box__info li {
        font-size: 0.75rem;
    }

    section#second h3 {
        font-size: 1.25rem;
    }

    .service__main h3 {
        font-size: 1.1rem;
    }

    .service__info-head h4 {
        font-size: 1rem;
    }

    .service__info-text p,
    .service__info-text li {
        font-size: 0.75rem;
    }
}

@media (max-height: 525px) {
    section#first {
        padding: 1rem;
    }

    .first__logo {
        width: 65px;
        height: 65px;
    }

    .first__heading {
        font-size: 1.25rem;
        padding-top: 1rem;
    }

    .first__name-of-services {
        display: none;
    }

    .first__subheadings h3 {
        font-size: 0.75rem;
    }

    .first__arrow-down {
        font-size: 1.75rem;
    }
}


@media (max-width: 425px) {
    .first__headings {
        padding-top: 0;
    }

    .first__heading {
        font-size: 1.25rem;
    }

    .first__subheadings h3 {
        font-size: 0.75rem;
    }

    .first__arrow-down {
        font-size: 2rem;
        margin-bottom: 6rem !important;
    }
}

@media (max-width: 375px) {
    .info-box__heading p {
        font-size: 1rem;
    }
}

@media (max-height: 363px) {
    .first__arrow-down {
        margin-bottom: 1rem !important;
    }
}