/* GENERAL */
body {}

/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

.section__hr {
    height: 10px;
    background: #be112f;
    border: 0;
    border-radius: 2px;
    width: 25%;
    margin: 0 auto;
}


/* FIRST SECTION */
#first {
    background: #f2f2f2;
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-flow: column;
    justify-content: space-between; */
}

.first__logo {
    max-width: 85px;
}

.first__heading {
    font-size: 2rem;
}

.first__subheadings {
    padding-top: 1rem;
}

.first__subheading {
    background-color: #fff;
    width: 70%;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.first__name-of-services {
    padding-top: 2rem;
}

.name-of-service {
    background-color: #be112f;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-of-service p {
    margin: 0;
    text-align: center;
}

.name-of-service a {
    color: #fff;
    text-decoration: none;
}

.first__arrow-down {
    /* display: flex;
    justify-content: center; */
    font-size: 4rem;
    animation: upAndDown 5s infinite;
}

.first__arrow-down a {
    color: #be112f;
}

.first__arrow-down:hover {
    cursor: pointer;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(0);
    }
}


/* end FIRST SECTION */
/* SECOND SECTION */

#second {
    height: 100vh;
    width: 100%;
}

.info-box {
    padding: 1.5rem 0;
}

.info-box__heading {
    background: #be112f;
    border-radius: 2px;
}

.info-box__info {
    background: #f2f2f2;
    padding: 0.25rem;
}

.info-box__info ul {
    padding-left: 2rem;
}

.info-box__info p {
    padding: 0.25rem;
    margin: 0;
    padding-left: 1.75rem;
}

.info-boxes__end {
}


/* end SECOND SECTION */
/* THIRD SECTION */
#third {
    /* height: 100vh; */
    width: 100%;
    background-color: #ccc;
}

.service__main h3,
.service__info-head,
.readmore-btn {
    background-color: #fc3650;
    color: #fff;
}

.service__info-text {
    background-color: #fff;
    padding: 1rem;
}

.readmore {
    margin-top: 1rem;
}

.readmore__btn {
    text-align: center;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
}

.readmore-btn {
    border: none;
}

.service__info-diagram {
    border: 1px solid black;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

/* end THIRD SECTION */